Repository oluwatunmiisheii/disposable-email-validator: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply ./src, biome format --write ./src

.lintstagedrc.json:

{
	"**/*.{ts,tsx,js,jsx}": ["biome check --apply ./src"],
	"**/*.{ts,tsx,js,jsx,json,md}": ["biome format --write ./src"]
}

chore: update package name, description and added files to export, vitest coverage package installed
  package.json
Due: biome format --write ./src

chore: create readme file
  README.md
Due: biome format --write ./src

chore: setup test
  test/validator.test.ts
  vitest.config.ts
Due: biome check --apply ./src, biome format --write ./src

feat: types and validator implementation
  src/types.ts
  src/validator.ts
Due: biome check --apply ./src, biome format --write ./src

chore: disposable emails
  src/data/disposable-domains.ts
Due: biome check --apply ./src, biome format --write ./src

chore: config updates
  .lintstagedrc.json
  pnpm-lock.yaml
  tsconfig.json
Due: biome format --write ./src

chore: export files
  src/index.ts
Due: biome check --apply ./src, biome format --write ./src

chore: update readme
  README.md
Due: biome format --write ./src

chore: publish config update and changelog
  CHANGELOG.md
  package.json
Due: biome format --write ./src

chore: update changeset
  .changeset/old-actors-press.md
Due: biome format --write ./src

chore: update changelog
  .changeset/old-actors-press.md
  CHANGELOG.md
  package.json
Due: biome format --write ./src

chore: update readme and bugs, homepage and author to package.json
  CONTRIBUTING.md
  README.md
  package.json
Due: biome format --write ./src

chore: update changelog
  CHANGELOG.md
  package.json
Due: biome format --write ./src

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: biome format --write ./src

fix: fix .cjs usage error
  package.json
Due: biome format --write ./src

chore: update changelog and version
  CHANGELOG.md
  package.json
Due: biome format --write ./src

chore: another fix to .cjs error
  package.json
Due: biome format --write ./src

chore: update chnagelog and version
  CHANGELOG.md
  package.json
Due: biome format --write ./src

Create SECURITY.md
  SECURITY.md
Due: biome format --write ./src

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: biome format --write ./src

chore: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: biome format --write ./src

feat: update tests, update readme and add new mergedisposableDomain feature
  README.md
  src/types.ts
  src/validator.ts
  test/validator.test.ts
Due: biome check --apply ./src, biome format --write ./src
